/* XXL - 1200px+++ ------------------------------------- */

@media screen and (min-width: 1201px) {
  .mini-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
    min-width: 75px !important;
    height: 40px;
    border-radius: 5px;
  }
  .deleteIcon {
    transform: scale(1.5);
  }

  .infoIconByDelete {
    margin-right: 12px;
    margin-bottom: 0px;
    transform: scale(1.5);
  }

  .infoIcon {
    margin-right: 6px;
    margin-bottom: 0px;
    transform: scale(1.2);
  }

  .infoText {
    width: 30px;
  }
}

/* XL - 1200px ----------------------------------------- */

@media screen and (max-width: 1200px) {
  .mini-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
    min-width: 75px !important;
    height: 40px;
    border-radius: 5px;
  }
  .deleteIcon {
    transform: scale(1.5);
  }

  .infoIconByDelete {
    margin-right: 12px;
    margin-bottom: 0px;
    transform: scale(1.5);
  }

  .infoIcon {
    margin-right: 6px;
    margin-bottom: 0px;
    transform: scale(1.2);
  }

  .infoText {
    width: 30px;
  }
}

/* LG - 992px ----------------------------------------- */

@media screen and (max-width: 992px) {
  .mini-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
    min-width: 75px !important;
    height: 40px;
    border-radius: 5px;
  }
  .deleteIcon {
    transform: scale(1.5);
  }

  .infoIconByDelete {
    margin-right: 12px;
    margin-bottom: 0px;
    transform: scale(1.5);
  }

  .infoIcon {
    margin-right: 6px;
    margin-bottom: 0px;
    transform: scale(1.2);
  }

  .infoText {
    width: 30px;
  }
}

/* MD - 768px ----------------------------------------- */

@media screen and (max-width: 768px) {
  .mini-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
    min-width: 75px !important;
    height: 40px;
    border-radius: 5px;
  }

  .deleteIcon {
    transform: scale(1.5);
  }

  .infoIconByDelete {
    margin-right: 12px;
    margin-bottom: 0px;
    transform: scale(1.5);
  }

  .infoIcon {
    margin-right: 6px;
    margin-bottom: 0px;
    transform: scale(1.2);
  }

  .infoText {
    width: 30px;
  }
}

/* SM - 576px ----------------------------------------- */

@media screen and (max-width: 576px) {
  .mini-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50px !important;
    height: 40px;
    border-radius: 5px;
  }

  #deletebtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 50px !important;
    height: 40px;
    border-radius: 5px;
  }

  .deleteIcon {
    transform: scale(1.5);
  }

  .infoIconByDelete {
    margin-right: 8px;
    margin-bottom: 0px;
    transform: scale(1.5);
  }

  .infoIcon {
    margin-right: 0px;
    margin-bottom: 4px;
    transform: scale(1.2);
    /* border: 1px solid blue; */
  }
  .infoText {
    display: flex;
    /* border: 1px solid blue; */
    width: 30px;
  }
}
/* XS - 400px ----------------------------------------- */

@media screen and (max-width: 400px) {
  .mini-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .infoIcon {
    margin-right: 6px;
    transform: scale(1.2);
    /* border: 1px solid blue; */
  }
  .infoText {
    display: flex;
    /* border: 1px solid blue; */
    width: 30px;
  }
}

/* 300px ---------------------------------------------- */
@media screen and (max-width: 300px) {
}

/* 200px ---------------------------------------------- */
@media screen and (max-width: 200px) {
}
