/* body {
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.header {
  height: 100px;
  top: 0;
}
.footer {
  height: 200px;
  bottom: 0;
  position: absolute;
}

.content {
  height: 100%;
  overflow-y: auto;
} */

.neuCard {
  /* border: 3px solid red; */
  border-radius: 50px;
  background: #fafafa;
  box-shadow: 41px 41px 82px #d5d5d5, -41px - 41px 82px #ffffff;
}
