@import "~leaflet/dist/leaflet.css";

.leaflet-container {
  width: 100%;
  height: 70vh;
  z-index: 0;

  /* border: 5px solid blue; */
}

.mapbox {
  position: relative;
  height: 100%;
}

.mapbox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 314159;
  pointer-events: none;
}

.mapbox .overlay #results {
  pointer-events: initial;
}

/* control positioning */

.leaflet-control {
  position: relative;
  z-index: 800;
  pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
  pointer-events: auto;
}
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}
.leaflet-top {
  top: 0;
}
.leaflet-right {
  right: 0;
}
.leaflet-bottom {
  bottom: 0;
}
.leaflet-left {
  left: 0;
}
.leaflet-control {
  float: right;
  clear: both;
}
.leaflet-right .leaflet-control {
  float: right;
}
.leaflet-top .leaflet-control {
  margin-top: 10px;
}
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}
.leaflet-left .leaflet-control {
  margin-left: 10px;
  display: none !important;
}
.leaflet-right .leaflet-control {
  margin-right: 10px;
}
