@import "~leaflet/dist/leaflet.css";

.leaflet-container {
  width: 100%;
  min-height: 100vh;
  z-index: 0;
  /* border: 5px solid blue !important; */
}

.mapbox {
  position: relative;
  overflow: scroll;
  min-height: 100%;
  border: 5px solid red !important;
}

.MuiBox-root.css-1lyd6xo {
  box-sizing: inherit;
}

.mapbox .overlay {
  position: absolute;
  overflow: scroll;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 314159;
  pointer-events: none;
  border: 5px solid yellow !important;
}

.mapbox .overlay #results {
  pointer-events: initial;
}

/* control positioning */

.leaflet-control {
  position: relative;
  border: 5px solid red;
  z-index: 800;
  pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
  pointer-events: auto;
}
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}
.leaflet-top {
  top: 0;
}
.leaflet-right {
  right: 0;
}
.leaflet-bottom {
  bottom: 0;
}
.leaflet-left {
  left: 0;
}
.leaflet-control {
  float: right;
  clear: both;
}
.leaflet-right .leaflet-control {
  float: right;
}
.leaflet-top .leaflet-control {
  margin-top: 10px;
}
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}
.leaflet-left .leaflet-control {
  margin-left: 10px;
  display: none !important;
}
.leaflet-right .leaflet-control {
  margin-right: 10px;
}
